<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{siteURL}}/xadmin.php">xBoard Admin - {{siteName}}</a>
		<div class="nav-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{siteURL}}/xadmin.php">List</a></li>
				<li><a href="{{siteURL}}/xadmin.php?action=build">Build</a></li>
				<li><a href="{{siteURL}}/{{siteIndex}}">View Site</a></li>
				<li><a href="{{siteURL}}/xadmin.php?action=logout">Logout</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>