		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>
		<script src="/assets/js/holder/holder.js"></script>
		<script src="/assets/js/xboard.js"></script>
		<script src="/assets/js/analytics.js"></script>
	</body>
</html>