{{>adminHead}}
	{{>adminMenu}}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pull-right"><a href="/" class="title">{{siteName}}</a></h2>
			</div>
		</div>
		<hr>
		{{#thread}}
		<div class="row">
			<div class="col-lg-12">
				<h2>
					{{title}} -
					<small><a href="/xadmin.php?action=delete&thread={{id}}" rel="nofollow">Delete</a></small>
				</h2>
				<!--<p>Last Updated: <span class="unixtime" data-timestamp="{{updated}}"></span> | Posts: {{count}} | User: {{name}}</p>-->
			</div>
		</div>
		<hr>
		{{#posts}}
			<div class="row">
				<div class="col-lg-12">
					<p>{{post}}</p>
					<p><small>
						<a href="/xadmin.php?action=delete&thread={{id}}&post={{key}}" rel="nofollow">Delete</a> -
						<a href="/xadmin.php?action=delete&thread={{id}}&post={{key}}&permanent=true" rel="nofollow">Permanently Delete</a>
					</small></p>
					<p><small class="muted">User: {{name}} ({{secret}}) - <a href="{{siteURL}}/xadmin.php?action=ban&ip={{userip}}">Ban</a> | Posted: <span class="unixtime" data-timestamp="{{time}}"></span></small></p>
				</div>
			</div>
			<hr>
		{{/posts}}
		{{/thread}}
	</div>
{{>foot}}
