{{>adminHead}}
<body>
	<div class="container">
		<form class="form-signin" method="post" action="xadmin.php">
			<h2 class="form-signin-heading">Admin Login</h2>
			<input name="adminPass" id="pass" type="password" class="input-block-level" placeholder="Password">
			<button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
			<a href="javascript:history.back();" class="btn btn-large btn-default btn-block" type="submit">Back</a>
		</form>
	</div>
{{>foot}}